
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/component/Images/bg/b4.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-info text-center">About Us<hr style="height: 10px;color:black;"></h1>
            </div>

            <div class="col-md-6">
                <p style="text-align: justify;">
                    A school is both the educational institution and building designed to provide learning spaces and learning environments for the teaching of students under the direction of teachers. Most countries have systems of formal education, which is sometimes compulsory. In these systems, students progress through a series of schools that can be built and operated by both government and private organization. The names for these schools vary by country (discussed in the Regional terms section below) but generally include primary school for young children and secondary school for teenagers who have completed primary education. An institution where higher education is taught is commonly called a university college or university.
                    In some countries, institutes can be part of a university or other institutions of higher education, either as a group of departments or an autonomous educational institution without a traditional university status such as a "university institute" (see Institute of Technology). In some countries, such as South Korea and India, private schools are sometimes referred to as institutes; also, in Spain, secondary schools are referred to as institutes.
                    In some countries, institutes can be part of a university or other institutions of higher education, either as a group of departments or an autonomous educational institution without a traditional university status such as a "university institute" (see Institute of Technology). In some countries, such as South Korea and India, private schools are sometimes referred to as institutes; also, in Spain, secondary schools are referred to as institutes.
                </p>
            </div>
            <div class="col-md-6">
                <img src="~/component/Images/e1.jpg" class="img-fluid" width="100%" height="50%">
            </div>
            <div class="col-md-12">
                <p style="text-align: justify;">The names for these schools vary by country (discussed in the Regional terms section below) but generally include primary school for young children and secondary school for teenagers who have completed primary education. An institution where higher education is taught is commonly called a university college or university.</p>
            </div>

            <div class="col-md-6">
                <img src="~/component/Images/e5.jpg" class="img-fluid" width="100%">
            </div>
            <div class="col-md-6">
                <p style="text-align: justify;">
                    A school is both the educational institution and building designed to provide learning spaces and learning environments for the teaching of students under the direction of teachers. Most countries have systems of formal education, which is sometimes compulsory. In these systems, students progress through a series of schools that can be built and operated by both government and private organization. The names for these schools vary by country (discussed in the Regional terms section below) but generally include primary school for young children and secondary school for teenagers who have completed primary education. An institution where higher education is taught is commonly called a university college or university.
                    In some countries, institutes can be part of a university or other institutions of higher education, either as a group of departments or an autonomous educational institution without a traditional university status such as a "university institute" (see Institute of Technology). In some countries, such as South Korea and India, private schools are sometimes referred to as institutes; also, in Spain, secondary schools are referred to as institutes.
                </p>
            </div>
            <div class="col-md-12">
                <p style="text-align: justify;">The names for these schools vary by country (discussed in the Regional terms section below) but generally include primary school for young children and secondary school for teenagers who have completed primary education. An institution where higher education is taught is commonly called a university college or university.</p>
            </div>

        </div>
    </div>
</section>

<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-info text-center">Mission & Vision<hr style="height: 10px;color: black;"></h1>
            </div>
            <div class="col-md-6">
                <img src="~/component/Images/bg/b5.jpg" class="img-fluid" width="100%">
            </div>
            <div class="col-md-6">
                <p style="text-align: justify;">A school is both the educational institution and building designed to provide learning spaces and learning environments for the teaching of students under the direction of teachers. Most countries have systems of formal education, which is sometimes compulsory. In these systems, students progress through a series of schools that can be built and operated by both government and private organization. The names for these schools vary by country (discussed in the Regional terms section below) but generally include primary school for young children and secondary school for teenagers who have completed primary education. An institution where higher education is taught is commonly called a university college or university.</p>
            </div>
            <div class="col-md-12">
                <p style="text-align: justify;">The names for these schools vary by country (discussed in the Regional terms section below) but generally include primary school for young children and secondary school for teenagers who have completed primary education. An institution where higher education is taught is commonly called a university college or university.</p>
            </div>

            <div class="col-md-6">
                <p style="text-align: justify;">
                    A school is both the educational institution and building designed to provide learning spaces and learning environments for the teaching of students under the direction of teachers. Most countries have systems of formal education, which is sometimes compulsory. In these systems, students progress through a series of schools that can be built and operated by both government and private organization. The names for these schools vary by country (discussed in the Regional terms section below) but generally include primary school for young children and secondary school for teenagers who have completed primary education. An institution where higher education is taught is commonly called a university college or university.
                    In some countries, institutes can be part of a university or other institutions of higher education, either as a group of departments or an autonomous educational institution without a traditional university status such as a "university institute" (see Institute of Technology). In some countries, such as South Korea and India, private schools are sometimes referred to as institutes; also, in Spain, secondary schools are referred to as institutes.
                    The names for these schools vary by country (discussed in the Regional terms section below) but generally include primary school for young children and secondary school for teenagers who have completed primary education. An institution where higher education is taught is commonly called a university college or university.
                </p>
            </div>
            <div class="col-md-6">
                <img src="~/component/Images/gym.jpg" class="img-fluid" width="100%" height="230px">
            </div>
            <div class="col-md-12">
                <p style="text-align: justify;">The names for these schools vary by country (discussed in the Regional terms section below) but generally include primary school for young children and secondary school for teenagers who have completed primary education. An institution where higher education is taught is commonly called a university college or university.</p>
            </div>
        </div>
    </div>
</section>

