
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="contact">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-info text-center">
                    Contact Us
                    <hr style="height: 10px;color:black;">
                </h1>
            </div>

           <div class="col-md-12 cont">
            <div class="col-md-6 mt-5">
                <div class="card">
                    <div class="row">
                        <div class="card-body col-md-12 text-center">
                            <h3>Address</h3>
                            <a href="#" class="link-box">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </a>
                            <p>
                                53, Khunti - Chaibasa Rd, near Premsons Motor, Ancillary Industrial Area, Pithiyatil,
                                Ranchi, Jharkhand 834003
                            </p>

                            <h3>Phone</h3>
                            <a href="tel:7824647452">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>+91 7824647452</span>
                            </a>

                            <h3>Mail</h3>
                            <a href="mailto:shivkr12@gmail.com">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>shivkr12@gmail.com</span>
                            </a>

                        </div>

                    </div>
                </div>
             </div>
                <div class="col-md-6 mt-5">
                    <div class="card">
                        <div class="row">
                            <div class="card-body col-md-12 text-center">
                                <h3>Contacts</h3>
                                <input type="text" class="form-control" placeholder="Enter your name">
                                <input type="text" class="form-control" placeholder="Enter your mobile">
                                <Textarea class="form-control" rows="3" placeholder="Enter query"></Textarea>
                                <button type="button" class="btn btn-sm btn-success">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
            </div>
        </div>
   
</section>

